{% extends "layout.html"%}
{% block content %}
<head>
    {% if title %}
        <title>Blog - {{title}}</title>
    {% else %}
        <title>Blog</title>
    {% endif %}
</head>

<p></p>
<p></p>
<body>
    {% for post in posts %}
        <section>
        <h1>{{post.title}}</h1>
            <strong><p class="posted">Posted {{post.date_posted}}</p></strong>
        <p>By {{post.author}}</p>
        <p>{{post.content}}</p>
        </section>
        <p></p>
    {% endfor%}
</body>

{% endblock content%}
