{%extends "layout.html"%}
{% block content %}
    <div class="section">
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="formsec">
                {{ form.username.label(class="formlbl") }}
                {{ form.username(class="formentry") }}

            </div>
            <div class="formsec">
                {{ form.password.label(class="formlbl") }}
                {{ form.password(class="formentry") }}
            </div>
            <div>
                {{ form.remember() }}
                {{ form.remember.label() }}
            </div>

        </fieldset>
        <div class="buttonWindow">
            {{form.submit(class="btn") }}
        </div>
        <small>
            <a href="#">Forgot Password?</a>
        </small>
    </form>
    <div class="extras"
        <small>
            Need an account? Click <a href="{{ url_for('register') }}" class="underline"> here </a> to sign up now.
        </small>
    </div>
</div>
{% endblock content%}